html {
    height: 100%;
}

body {
    background: url('/media/bg.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* Header styling */
header {
    background-color: #FAF0F0;
    height: 100px; 
}

.header-container {
    padding-top: 10px; 
}

.header-container img {
    max-height: 100px; 
}

/* Styling for buttons and text */
.shop-now-button {
    background: white; /* Default background is white */
    color: black; /* Default text color is black */
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: black; /* Button background turns black on hover */
    color: white !important; /* Force the text to be white on hover */
}

.btn-black {
    background: white; /* Default background */
    color: black; /* Default text color */
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black; /* Button background turns black on hover */
    color: white !important; /* Force the text to be white on hover */
}

/* Media Queries */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px; 
    }
}
