html {
    height: 100%;
}

body {
    background: url('/media/bg.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* Set the navbar background color */
.navbar {
    background-color: #FAF0F0 !important; 
    width: 100%
}

.navbar-row{
    background-color: #FAF0F0 !important;
}

/* Ensure the navbar is fixed on larger screens */
.fixed-top-desktop-only {
    top: 0; /* Set the top position */
}

/* Header styling */
header {
    background-color: #FAF0F0;
    height: 100px; 
}

.header-container {
    padding-top: 10px; 
}

.header-container img {
    max-height: 100px; 
}

/* Styling for the 'Shop Now' button */
.shop-now-button {
    background: #e9bebe; 
    color: black; 
    min-width: 260px;
    margin-right: 20px; 
    display: inline-block;
}

/* Hover, active, and focus state: button turns white with black text */
.shop-now-button:hover {
    background: black; 
    color: white !important; 
}

.add-to-bag{
    background: #e9bebe; 
    border: 1px solid black;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.row-height {
    height: 160px; 
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {    
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
}

/* Default styles for larger and tablet screens */
@media (min-width: 426px) {
    .navbar-collapse {
        display: flex !important; 
        justify-content: flex-start; 
    }

    .navbar-toggler {
        display: none; 
    }

    /* Align navbar items next to each other on tablet screens */
    .navbar-nav {
        flex-direction: row; 
    }

    .nav-item {
        margin: 0 10px; 
    }
}

/* Toggle button styling */
.navbar-toggler {
    background-color: #FAF0F0; 
    border-radius: 4px; 
    color: black; 
    padding: 0.375rem 0.75rem; 
}

/* Remove default icon */
.navbar-toggler-icon {
    background-image: none; 
}

/* Custom toggle icon */
.navbar-toggler:after {
    text-align: center;
    content: '☰'; 
    font-size: 24px; 
    color: black; 
}

/* Styles for the toggle button on hover */
.navbar-toggler:hover {
    background-color: #e9bebe; 
    border-color: white; 
}

/* Toggle button visibility on screens 425px and smaller */
@media (max-width: 425px) {
    .navbar-collapse {
        display: none !important; 
    }

    .navbar-toggler {
        display: block; 
    }

    .navbar-collapse.show {
        display: block !important; 
        position: relative; 
        width: 100%; 
    }
}

@media (max-width: 425px) {
    .row-height {
        height: 160px; /* Adjust this value as needed */
    }
}

